.home{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}
@media screen and (max-width: 1124px) {
    .home{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: space-around;
    }
  }
  